.idea
*.pyc
.coverage
.directory
__pycache__
venv
crax_egg_info
.pytest_cache
crax/auth/migrations
tests/app_one/migrations
tests/app_two/migrations
tests/app_three/migrations
tests/app_four/migrations
tests/app_five/migrations
tests/app_six/migrations
tests/alembic.ini
tests/alembic_env
/tests/test.log
/docker/app/crax_tests/
/docker/app/test_mysql.sql
/docker/app/pg_init.sql
/crax.egg-info/
/dist/
